latex/**/*.*
!latex/images/*.jpg
!latex/images/*.jpeg
!latex/images/*.png
!latex/*.tex
!latex/*.sty
!latex/*.bib
!latex/*.cls
!latex/*.pdf
!latex/sections/*.tex

grading/**/*.*
!grading/*.tex
!grading/*.bib
!grading/*.pdf

docs/**/*.*
!docs/document.pdf
